<h3>Shipping Prices</h3>

<div class="shipping-item" *ngFor="let shipping of shippingCosts | async">
  <span>{{ shipping.type }}</span>
  <span>{{ shipping.price | currency }}</span>
</div>

<form
  class="form-inline select-con"
  (ngSubmit)="submit(formData)"
  #formData="ngForm"
>
  <select
    type="number"
    [(ngModel)]="selectedPrice"
    [ngModelOptions]="{ standalone: true }"
  >
    <option *ngFor="let price of prices; let i = index" [ngValue]="price">
      {{ price.name }}
    </option>
  </select>
  <button type="submit">Submit</button>
</form>
