.name {
  width: 100%;
  display: flex;
}

.name:hover {
  cursor: pointer;
}

.tab{
  /* padding-bottom: 10px; */
  border-bottom: 1px solid grey;
}

h3 {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  margin: 10px 0 !important;
}

.detail{
  margin-bottom: 20px;
}

#show {
  font-size: 16px;
  font-weight: normal;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
